<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicom.mapper.ConvergenceKolMapper">
  <resultMap id="BaseResultMap" type="com.unicom.model.ConvergenceKol">
    <constructor>
      <idArg column="kol_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="event_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fans" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="avatar" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="webo_text" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="if_forward" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="weibo_time" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sex" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="root_weibo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="v_type" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="creator" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updater" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    kol_id, event_id, username, fans, avatar, webo_text, if_forward, weibo_time, url, 
    sex, root_weibo, v_type, create_time, creator, update_time, updater
  </sql>
  <select id="selectByExample" parameterType="com.unicom.model.ConvergenceKolExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from convergence_kol
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from convergence_kol
    where kol_id = #{kolId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from convergence_kol
    where kol_id = #{kolId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unicom.model.ConvergenceKol">
    insert into convergence_kol (kol_id, event_id, username, 
      fans, avatar, webo_text, 
      if_forward, weibo_time, url, 
      sex, root_weibo, v_type, 
      create_time, creator, update_time, 
      updater)
    values (#{kolId,jdbcType=INTEGER}, #{eventId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{fans,jdbcType=INTEGER}, #{avatar,jdbcType=VARCHAR}, #{weboText,jdbcType=VARCHAR}, 
      #{ifForward,jdbcType=TINYINT}, #{weiboTime,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{sex,jdbcType=TINYINT}, #{rootWeibo,jdbcType=VARCHAR}, #{vType,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR})
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update convergence_kol
    <set>
      <if test="record.kolId != null">
        kol_id = #{record.kolId,jdbcType=INTEGER},
      </if>
      <if test="record.eventId != null">
        event_id = #{record.eventId,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.fans != null">
        fans = #{record.fans,jdbcType=INTEGER},
      </if>
      <if test="record.avatar != null">
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.weboText != null">
        webo_text = #{record.weboText,jdbcType=VARCHAR},
      </if>
      <if test="record.ifForward != null">
        if_forward = #{record.ifForward,jdbcType=TINYINT},
      </if>
      <if test="record.weiboTime != null">
        weibo_time = #{record.weiboTime,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=TINYINT},
      </if>
      <if test="record.rootWeibo != null">
        root_weibo = #{record.rootWeibo,jdbcType=VARCHAR},
      </if>
      <if test="record.vType != null">
        v_type = #{record.vType,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null">
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update convergence_kol
    set kol_id = #{record.kolId,jdbcType=INTEGER},
      event_id = #{record.eventId,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      fans = #{record.fans,jdbcType=INTEGER},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      webo_text = #{record.weboText,jdbcType=VARCHAR},
      if_forward = #{record.ifForward,jdbcType=TINYINT},
      weibo_time = #{record.weiboTime,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=TINYINT},
      root_weibo = #{record.rootWeibo,jdbcType=VARCHAR},
      v_type = #{record.vType,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unicom.model.ConvergenceKol">
    update convergence_kol
    set event_id = #{eventId,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      fans = #{fans,jdbcType=INTEGER},
      avatar = #{avatar,jdbcType=VARCHAR},
      webo_text = #{weboText,jdbcType=VARCHAR},
      if_forward = #{ifForward,jdbcType=TINYINT},
      weibo_time = #{weiboTime,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      root_weibo = #{rootWeibo,jdbcType=VARCHAR},
      v_type = #{vType,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR}
    where kol_id = #{kolId,jdbcType=INTEGER}
  </update>
  <delete id="deleteByExample" parameterType="com.unicom.model.ConvergenceKolExample">
    delete from convergence_kol
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.unicom.model.ConvergenceKol">
    insert into convergence_kol
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="kolId != null">
        kol_id,
      </if>
      <if test="eventId != null">
        event_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="fans != null">
        fans,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="weboText != null">
        webo_text,
      </if>
      <if test="ifForward != null">
        if_forward,
      </if>
      <if test="weiboTime != null">
        weibo_time,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="rootWeibo != null">
        root_weibo,
      </if>
      <if test="vType != null">
        v_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updater != null">
        updater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="kolId != null">
        #{kolId,jdbcType=INTEGER},
      </if>
      <if test="eventId != null">
        #{eventId,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="fans != null">
        #{fans,jdbcType=INTEGER},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="weboText != null">
        #{weboText,jdbcType=VARCHAR},
      </if>
      <if test="ifForward != null">
        #{ifForward,jdbcType=TINYINT},
      </if>
      <if test="weiboTime != null">
        #{weiboTime,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="rootWeibo != null">
        #{rootWeibo,jdbcType=VARCHAR},
      </if>
      <if test="vType != null">
        #{vType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unicom.model.ConvergenceKol">
    update convergence_kol
    <set>
      <if test="eventId != null">
        event_id = #{eventId,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="fans != null">
        fans = #{fans,jdbcType=INTEGER},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="weboText != null">
        webo_text = #{weboText,jdbcType=VARCHAR},
      </if>
      <if test="ifForward != null">
        if_forward = #{ifForward,jdbcType=TINYINT},
      </if>
      <if test="weiboTime != null">
        weibo_time = #{weiboTime,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="rootWeibo != null">
        root_weibo = #{rootWeibo,jdbcType=VARCHAR},
      </if>
      <if test="vType != null">
        v_type = #{vType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=VARCHAR},
      </if>
    </set>
    where kol_id = #{kolId,jdbcType=INTEGER}
  </update>
</mapper>