<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicom.mapper.PortraitPatternMapper">
  <resultMap id="BaseResultMap" type="com.unicom.model.PortraitPattern">
    <constructor>
      <idArg column="pattern_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="event_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="webo_num" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="time" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="account_type" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="creator" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updater" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <resultMap id="PortraitPatternCopy" type="com.unicom.model.PortraitPatternCopy">
    <result column="webo_num" javaType="java.math.BigDecimal" jdbcType="DECIMAL" property="weboNum"/>
    <result column="time" javaType="java.lang.String" jdbcType="VARCHAR" property="time"/>
    <result column="account_type" javaType="java.lang.Byte" jdbcType="TINYINT" property="accountType"/>
  </resultMap>
  <select id="getDayLineByEventId" parameterType="java.lang.String" resultMap="PortraitPatternCopy">
    select
    webo_num,time,account_type
    from portrait_pattern
    where event_id = #{eventId,jdbcType=VARCHAR} order by time asc
  </select>
  <select id="deleteDayLine">
    truncate table portrait_pattern
  </select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pattern_id, event_id, webo_num, time, account_type, create_time, creator, update_time, 
    updater
  </sql>
  <select id="selectByExample" parameterType="com.unicom.model.PortraitPatternExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from portrait_pattern
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from portrait_pattern
    where pattern_id = #{patternId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from portrait_pattern
    where pattern_id = #{patternId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.unicom.model.PortraitPatternExample">
    delete from portrait_pattern
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.unicom.model.PortraitPattern">
    insert into portrait_pattern (pattern_id, event_id, webo_num, 
      time, account_type, create_time, 
      creator, update_time, updater
      )
    values (#{patternId,jdbcType=INTEGER}, #{eventId,jdbcType=VARCHAR}, #{weboNum,jdbcType=DECIMAL}, 
      #{time,jdbcType=TIMESTAMP}, #{accountType,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.unicom.model.PortraitPattern">
    insert into portrait_pattern
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="patternId != null">
        pattern_id,
      </if>
      <if test="eventId != null">
        event_id,
      </if>
      <if test="weboNum != null">
        webo_num,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="accountType != null">
        account_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updater != null">
        updater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="patternId != null">
        #{patternId,jdbcType=INTEGER},
      </if>
      <if test="eventId != null">
        #{eventId,jdbcType=VARCHAR},
      </if>
      <if test="weboNum != null">
        #{weboNum,jdbcType=DECIMAL},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="accountType != null">
        #{accountType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update portrait_pattern
    <set>
      <if test="record.patternId != null">
        pattern_id = #{record.patternId,jdbcType=INTEGER},
      </if>
      <if test="record.eventId != null">
        event_id = #{record.eventId,jdbcType=VARCHAR},
      </if>
      <if test="record.weboNum != null">
        webo_num = #{record.weboNum,jdbcType=DECIMAL},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.accountType != null">
        account_type = #{record.accountType,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null">
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update portrait_pattern
    set pattern_id = #{record.patternId,jdbcType=INTEGER},
      event_id = #{record.eventId,jdbcType=VARCHAR},
      webo_num = #{record.weboNum,jdbcType=DECIMAL},
      time = #{record.time,jdbcType=TIMESTAMP},
      account_type = #{record.accountType,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.unicom.model.PortraitPattern">
    update portrait_pattern
    <set>
      <if test="eventId != null">
        event_id = #{eventId,jdbcType=VARCHAR},
      </if>
      <if test="weboNum != null">
        webo_num = #{weboNum,jdbcType=DECIMAL},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="accountType != null">
        account_type = #{accountType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=VARCHAR},
      </if>
    </set>
    where pattern_id = #{patternId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unicom.model.PortraitPattern">
    update portrait_pattern
    set event_id = #{eventId,jdbcType=VARCHAR},
      webo_num = #{weboNum,jdbcType=DECIMAL},
      time = #{time,jdbcType=TIMESTAMP},
      account_type = #{accountType,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR}
    where pattern_id = #{patternId,jdbcType=INTEGER}
  </update>
</mapper>